<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="text-xs-center">
                <h1>Guess the Capital</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 offset-sm-3">
                <img src="{{capital.get_rand_img_url()}}" class="img-fluid">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 offset-sm-3" text-xs-center>

                {% if is_correct is defined %}

                <h1>Your answer is: {{ the_answer }}</h1>

                {% else %}

                <form method="post" action="/">
                    <input type="text" name="guessed_city">
                    <input type="hidden" name="capital_index" value="{{ capital_index }}">
                    <button type="submit" class="btn btn-default">Guess!</button>
                </form>

                {% endif %}

            </div>
        </div>


    </div>



</body>
</html>